<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vietanh</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript" src="../static/js/popper.js">
    </script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../static/css/master.css"> -->
    <link rel="stylesheet" href="../static/css/homepage.css">
  </head>
  <body>
    <!-- page header and navigation -->
    <div class="header" id="homepage-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a href="/" class="navbar-brand text-white">VietAnh</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item pr-5 active">
                <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item pr-5">
                <a href="/" class="nav-link">My profile</a>
              </li>
              <li class="nav-item pr-5">
                <a href="/" class="nav-link">Data Science</a>
              </li>
              <li class="nav-item pr-5">
                <a href="/" class="nav-link">Film photos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div id='profile' class="container mt-5">
      <div>
        <h1 class="text-center">About me</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis, justo ut tempus vehicula, quam eros tincidunt arcu, pretium suscipit erat eros quis felis. Nunc in est dapibus massa vestibulum euismod eu in augue. Sed cursus bibendum leo id euismod. Nullam iaculis, nisi scelerisque vestibulum egestas, sem nunc mattis libero, in rhoncus nulla sapien quis erat. Nulla facilisi. Sed fermentum dolor in imperdiet laoreet. Nam in volutpat felis, a ultrices enim. Phasellus scelerisque laoreet quam et accumsan. Donec in gravida nulla, vel lacinia nibh. Pellentesque porttitor facilisis mauris sit amet placerat. In iaculis maximus tellus. Aliquam in dui euismod, ultricies sem sed, feugiat massa. Donec malesuada rhoncus nibh quis interdum. Proin eu augue lorem. Etiam convallis magna est, sit amet feugiat quam feugiat quis.</p>
      </div>
      <div>
        <h1 class="text-center">Education</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis, justo ut tempus vehicula, quam eros tincidunt arcu, pretium suscipit erat eros quis felis. Nunc in est dapibus massa vestibulum euismod eu in augue. Sed cursus bibendum leo id euismod. Nullam iaculis, nisi scelerisque vestibulum egestas, sem nunc mattis libero, in rhoncus nulla sapien quis erat. Nulla facilisi. Sed fermentum dolor in imperdiet laoreet. Nam in volutpat felis, a ultrices enim. Phasellus scelerisque laoreet quam et accumsan. Donec in gravida nulla, vel lacinia nibh. Pellentesque porttitor facilisis mauris sit amet placerat. In iaculis maximus tellus. Aliquam in dui euismod, ultricies sem sed, feugiat massa. Donec malesuada rhoncus nibh quis interdum. Proin eu augue lorem. Etiam convallis magna est, sit amet feugiat quam feugiat quis.</p>
      </div>
    </div>
  </body>
</html>
